.main-container {
    display: flex;
    border: 1px solid #1e293b;
    width: 100%;
    height: 100vh;
}
@font-face {
    font-family: 'Roboto';
    src: url('/assets/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sidebar {
    flex: 0 0 20%;
    border: 1px solid #1e293b;
}

.side-head{
    display: flex;
    margin-top: 20px;
    /* margin-left: 50px; */
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    
}

#dashboard{
    margin-top: 10px;
    margin-left: 16px;
}

.holder {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-section {
    flex: 0 0 20%;
    border: 1px solid #1e293b;
}

.content {
    flex: 1;
    border: 1px solid #1e293b;
}


.side-bottom{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#bottom-1 {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); Creates 3 columns */
    margin-top: 20px;
    grid-gap: 5px; /* Adjust the gap between grid items */
  }
  
.grid-item-1 ,
.grid-item-2
  {
    display: flex;
    font-family: 'Roboto';
    font-weight: bold;
    /* background-color: #e0e0e0; */
    padding: 5px;
    margin-top: 5px;
    text-align: center;
  }

  .gap{
    width: 36.5px;
  }

  #bottom-2{
    display: grid;
    margin-top: 20px;
    grid-gap: 5px; /* Adjust the gap between grid items */
  }

.icon{
    display: flex;
}

.icon-1{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.icon-2{
    display: flex;
    font-family: 'Roboto';
    font-weight: bold;
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    align-items: center;
    gap: 16px
    ;
}

.input-container {
    width: 50%; /* Adjust the width as needed */
    position: relative;
  }
  
  input {
    width: 400px;
    padding: 8px;
    border: 2px solid #ccc;
    background-color: gr;
    border-radius: 20px; /* Adjust the border-radius to make edges curly */
    outline: none; /* Removes default input outline */
  }

.header{
  display: flex;
 justify-content: space-between;
 margin-left: 60px;
 margin-right: 55px;

}

.header-1{
  display: flex;
  gap: 24px;
  
}


  .header-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
  }

  

  .icon-3{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 12px;
  }

  .icon-4{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
  }


.header-container-2
{
  display: flex;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  gap: 20px;
} 


.action-1,
.action-2,
.action-3
{
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}


.content{
  display: flex;
  /* flex-direction: column; */
  flex-shrink: 0;
  background-color: #e7e5e4;
  font-family: 'Roboto';
}

.new-grid{
  display: flex;
  width: 300px;
  /* line-height: 1.5; */
  flex-wrap: wrap;
  gap: 15px;
  overflow: hidden;
  flex-grow: 2 ;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 10px;
  
}

.trend{
  display: flex;
  flex-grow: 1;
  border: 1px solid red;
}


.grid-item-3{
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  width: 300px ;
  height: 150px;
  padding: 10px;

  /* text-align: left; 
  overflow: hidden; 
  text-overflow: ellipsis;  */
}

.top{
  display: flex;
  width: 500px;
  flex-shrink: 1;
  flex-wrap: wrap;
}

.icon-holder{
  display: flex;
  gap: 10px;
  padding-top: 40px;
  margin-left: 225px;
}
